* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', 'sans-serif';
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background-color: #f55a5a;
    color: #fff;
}

nav > i {
    font-size: 24px;
    margin-right: 7px;;
}

nav > p {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.075em;
}

.place {
    display: flex;
    margin: 40px;
    height: 168px;
    color: #2B283A;
}

.place > img {
    display: flex;
    width: 125px;
    object-fit: cover;
    border-radius: 5px;
}

.place > .content {
    font-size: 10px;
    margin-left: 20px;
}

.place > .content > .location > span {
    text-transform: uppercase;
    letter-spacing: 0.17em;
}

.place > .content > .location > a {
    color: #918E9B;
    margin-left: 12px;
}

.place > .content > .location > i {
    margin-right: 4px;
    color: #f55a5a;
}

.place > .content > h1 {
    font-size: 25px;
    margin-top: 4px;
}

.place > .content > h3 {
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    margin-top: 22px;

}

.place > .content > .description {
    line-height: 150%;
}